@model ProjectCWeb_DuboisAnke_2ProA.Models.Handboek

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/personalstyling.css" />
<link rel="stylesheet" href="~/css/footerstyle.css" />

<br />
<h1>BEWERK HANDBOEK</h1>

<hr />
<div class="row body-style">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HandboekId" />
            <div class="form-group">
                <label class="h5">TITEL</label>
                <input asp-for="Titel" class="form-control input-field" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="h5">PRIJS</label>
                <input asp-for="Kostprijs" class="form-control input-field" />
                <span asp-validation-for="Kostprijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="h5">UITGAVEDATUM</label>
                <input asp-for="UitgifteDatum" class="form-control input-field" />
                <span asp-validation-for="UitgifteDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="h5">COVER</label>
                <input asp-for="Afbeelding" class="form-control input-field" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="OPSLAAN" class="save" />
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <a asp-action="Index">Terug naar HANDBOEKEN</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
