@model ProjectCWeb_DuboisAnke_2ProA.Models.VakLector

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/personalstyling.css" />
<link rel="stylesheet" href="~/css/footerstyle.css" />

<br />
<h1>DETAILS</h1>

<div>
    <hr />
    <dl class="row body-style">
        <dt class="col-sm-2">
            <label class="h6">ID</label>
        </dt>
        <dd class="col-sm-10">
            <p>
                @Html.DisplayFor(model => model.VakLectorId)
            </p>
        </dd>
        <dt class="col-sm-2">
            <label class="h6">LECTOR</label>
        </dt>
        <dd class="col-sm-10">
            <p>
                @Html.DisplayFor(model => model.Lector.Gebruiker.Naam)
            </p>
        </dd>
        <dt class="col-sm-2">
            <label class="h6">VAK</label>
        </dt>
        <dd class="col-sm-10">
            <p>
                @Html.DisplayFor(model => model.Vak.VakNaam)
            </p>
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VakLectorId">Bewerk</a> |
    <a asp-action="Index">Terug naar VAKLECTOREN</a>
</div>
