@model ProjectCWeb_DuboisAnke_2ProA.Models.VakLector

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/personalstyling.css" />
<link rel="stylesheet" href="~/css/footerstyle.css" />

<br />
<h1>BEWERK VAKLECTOR</h1>

<hr />
<div class="row body-style">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VakLectorId" />
            <div class="form-group">
                <label class="h5">LECTOR</label>
                <select asp-for="LectorId" class="form-control input-field" asp-items="ViewBag.LectorId"></select>
                <span asp-validation-for="LectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="h5">VAK</label>
                <select asp-for="VakId" class="form-control input-field" asp-items="ViewBag.VakId"></select>
                <span asp-validation-for="VakId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="OPSLAAN" class="save" />
            </div>
        </form>
    </div>
</div>
<hr/>
<div>
    <a asp-action="Index">Terug naar VAKLECTOREN</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
